<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body class="text-center">
  <%- include('partials/_header') %>
  <div class="card text-center">
    <div class="card-header"></div>
    <h4 class="card-title">TinyURL Registration</h4>
  </div>
  <form class="form-inline" action="/register" method="POST">
    <div class="container content-center">
      <label for="email"><b>Email</b></label>
      <input class= "form-control" type="email" placeholder="Please Enter Email" style="width: 300px; margin: 1em">
      <label for="password"><b>Password</b></label>
      <input class="form-control" type="password" placeholder="Please Create Password" style="width: 300px; margin: 1em">
      <br>
      <button type="submit">Register</button>
    </form>

  </div>
</body>
</html>